.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.skill-card {
padding: 1.2rem;
border: 1px solid var(--color-primary-variant);
transition: var(--transition);
}

.skill-card:hover {
  scale: 1.05;
  background: var(--color-bg-variant-2);
}

.skill-item {
  text-align: center;
}

.skill-item i {
  font-size: 2.5rem;
}

.skill-item p {
  font-weight: 500;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}

/* -------- Media Queries ----------- */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}